
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetHelp</title>
</head>
<body>
    <h1>PetHelp</h1>
    <a href="/form">Adicionar dono!</a>;
    <a href="/lista">Visualizar donos cadastrados!</a>
    <a href="/cao">Tenho um cachorro!</a>
    <a href="/gato">Tenho um gato!</a>
    
</body>
</html>