
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
            <p>1. Cuidados com gatos filhotes
Cuidados com gatos filhotes são um pouco diferentes do que o trato com adultos. Frágeis, eles precisam se alimentar a cada 4 horas para evitar crises hipoglicêmicas. Os bebês gastam mais energia e por isso devem repor as calorias com maior frequência. Nunca ofereça leite de vaca, alimentos humanos e nem ração de gatos adultos. Prefira sempre ração para filhotes ou ração para desmame, caso o gatinho seja muito pequeno.
</p>
        <p>2. Consulte um médico veterinário
Veterinária fazendo a auscuta em um gato
Gatos devem fazer visitas ao médico veterinário pelo menos uma vez por ano. Além de avaliar a saúde do animal, o profissional poderá aplicar as vacinas anuais e manter seu pet imunizado contra doenças importantes.</p>

    
        <p>3. Livre de pulgas e vermes
Mesmo animais que não saem de casa, devem ser vermifugados periodicamente. Outro medicamento que não pode ser esquecido é o remédio antipulgas, que mantêm seu pet livre de coceira e diversas doenças. Converse com seu médico veterinário para definir qual a frequência ideal para uso deles.</p>
        <p>
4. Gatos não devem tomar leite
A alimentação dos gatos deve ser feita com ração seca, sachês e latas de alimentos úmidos. Nunca ofereça leite ou outros alimentos humanos para seu gatinho. 

A ração úmida colabora para a hidratação dos animais. Doenças reais ou no trato urinário são comuns em gatos e parte importante da prevenção é feita com o consumo adequado de água. As rações úmidas adicionam líquido na dieta dos gatos. Por isso, estabeleça uma rotina alimentar que inclua esses alimentos.</p>
        <p>5. Substitua bebedouros por fontes
A hidratação é fundamental para manter seu gato sempre saudável. A melhor forma de estimular o consumo de água é usando um artifício para atrair o gatinho. A fonte de água é uma excelente alternativa para gatos que não gostam de potinhos convencionais</p>
    </div>
</body>
</html>